cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
Cython==0.29.21
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Naked==0.1.31
pycryptodomex==3.9.9
Python-dev==2.0.0.dev0
PyYAML==5.3.1
redis==3.5.3
requests==2.25.0
six==1.15.0
steam==1.0.2
urllib3==1.26.2
vdf==3.3
Werkzeug==1.0.1
